@import url("https://webgl2fundamentals.org/webgl/resources/webgl-tutorials.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
  background-image: url("space.jpg");
  /* background-color: black; */
}
.controls {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  border: 0.5px solid #09ff00;
  box-shadow: 0 0 5px #09ff00, 0 0 10px #09ff00;
  padding: 2px 8px;
}

.controls h2 {
  padding: 0;
  margin: 0;
  filter: drop-shadow(0 0 3px #09ff00);
  text-decoration: underline;
}

.controls p {
  padding: 0;
  margin: 0;
}

.information {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: white;
}

.information h1 {
  margin: 0;
  padding: 0;
  font-style: normal;
  text-decoration: underline;
}

.information h2 {
  margin: 0;
  padding: 0;
}

.information h3 {
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info a {
  text-decoration: none;
  color: white;
  filter: drop-shadow(0 0 5px #6617fc);
}
